body{
  z-index: 0;
  background-color: #f6f5f5;
}
a{
  color: #f6f5f5;
  text-decoration: none !important;
}
a:hover{
  color: #d3e0ea;
}
header{
  margin-bottom: 12%;
}
header nav{
  background-color: #1687a7;
  height: 100px;
}
img#logoHome{
  width: 10%;
  margin-top: 5%;
  margin-left: 15%;
  border-radius: 100%;
}
header nav ul{
  width: 100%;
  margin-top: 7%;
  margin-left: -14%;
}
header nav ul li{
  margin-right: 3%;
  color: black;
  font-size: 100%;
  font-weight: bold;
  z-index: 10;
}
div.navbar{
  margin-left: 57%;
  height: 150px;
  width: 90%;
}
header nav ul li{
    display: inline-block;
    text-decoration: none;
  }
img#mainLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
  }
div#phraseContainer{
  top: 15%;
}
p#phrase{
    position: relative;
    text-align: center;
    font-family: 'Bebas Neue';
    color: #1687a7;
    font-size: 300%;
    opacity: 1;
    animation: slideUp 2s ease-out;
}
hr{
    opacity: 0;
}
h2.titles{
  text-align: center;
  font-size: 250%;
  color: gray;
  margin-top: 5%;
  margin-bottom: 15%;
  margin-left: 0%;
  transform: scaleX(0)
}
h2.titles[data-scroll="in"]{
  animation: fadeIn ease 5s;
  transform: scaleX(1)
}
section.courses{
  background-color: #d3e0ea;
  background-image: url(../img/clouds.jpg);
  background-position: center;
  background-size: 100%;
  height: 800px;
}
div#courseImages{
  margin-bottom: 5%;
  height: 200px;
  z-index: 10;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: scaleY(0)
}
div#courseImages[data-scroll="in"]{
  display: block;
  animation: fadeIn ease 5s;
  transform: scaleY(1)
}
div.courseContainer{
  background-color: white;
  opacity: 80%;
  width: 80%;
  height: 130%;
  margin-left: 10%;
  margin-top: -50%;
  z-index: -1000;
  position: relative;
}
img.courseImages{
  height: 110%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}
#courseImages:hover .courseContainer{
  height: 180%;
  margin-top: -82%;
}
p.info{
  display: none;
}
button.seeMore{
  display: none;
}
#courseImages:hover .info{
  position: absolute;
  text-align: center;
  margin-left: 12%;
  width: 70%;
  font-family: 'Lato', sans-serif;
  display: block;
  margin-top: 4%;
  font-size: 130%;
  color: gray
}
#courseImages:hover .seeMore{
  display: block;
  transition: 0.6s;
  margin-left: 35%;
  margin-top: 15%;
  margin-bottom: 10%;
  border-radius: 50px 50px;
  background-color: darkblue;
  color: white;
  text-align: center;
  width: 30%;
}
.courseContainer:hover + p.hiddenInfo {
  display: block;
  animation: fadeIn ease 2s;
}
section.experiences{
  background-color: whitesmoke;
  height: 800px;
}
div.experienceQuote{
  height: 70%;
}
.width-auto {
  width: auto;
}

.text-lg {
  font-size: 2rem;
}

.carousel-indicators li {
  border: none;
  background: #ccc;
}

.carousel-indicators li.active {
  background: #28a745;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes slideUp {
  0%   { 
  transform: translateY(200%); 		
  }
  100% { 
  transform: translateY(0%); 
  }
}